html {
  background: url(../pictures/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.pics{
	font-family: 'Rock Salt';
	font-size: 2em;
	text-align: center;

	opacity: .8;
}

.paragraph {
  font-family: 'Rock Salt';
	font-size: 1em;
  padding: 0em;
  margin:0em;
	opacity: .75;
  color:white;
  text-align: center;
}
.paragraph2 {
  font-family: 'Rock Salt';
  text-decoration: underline;
	font-size: 1em;
  padding: 0em;
  margin:0em;
	opacity: .75;
  color:white;
  text-align: center;
}

.paragraph3 {
  font-family: 'Rock Salt';
	font-size: 1em;
  padding: 0em;
  margin:0em;
  margin-bottom: 1em;
	opacity: .75;
  color:white;
  text-align: center;
}

.parag {
  position:absolute;
  margin-top: 9em;
  font-family: 'Rock Salt';
	font-size: .85em;
	opacity: .75;
  color:white;
  padding-left: 1em;
  padding-top: 0em;

}
.social{
  display:inline;
  border:3px;
  position: absolute;
  bottom:.25em;
}
.projectPics{
  width:15em;
  height:11em;
}

td img{
  height:2em;
  width:2em;
}

#p1{
	color:#CC99FF;
  font-family: 'Rock Salt';
	font-size: 2em;
	text-align: center;
	opacity: .8;
}

#p2{
	color:#A6FFA6;
  font-family: 'Rock Salt';
	font-size: 2em;
	text-align: center;
	opacity: .8;
}

#p3{
	color:#33CCCC;
  font-family: 'Rock Salt';
	font-size: 2em;
	text-align: center;
	opacity: .8;
}

#p4{
	color:#FF5F5F;
  font-family: 'Rock Salt';
	font-size: 2em;
	text-align: center;
	opacity: .8;
}

#p5{
	color:#FFFF66;
  font-family: 'Rock Salt';
	font-size: 2em;
	text-align: center;
	opacity: .8;
}

#name{
	font-family: 'Rock Salt';
	color:white;
	font-size: 3em;
	text-align: center;
  margin-top: 0em;
	padding-top: 0em;
	opacity: 1;
}



.navbar{
  display: inline-block;
  padding: 0;
	margin: 0;
  margin-top: 2em;
	position: absolute; /* Ensures that the menu doesn’t affect other elements */
}

.navlist {
  display:block;
  float: left;
  position: relative;
  width:7.8em;
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding-left: 0;
	margin: 0;

}

.dropdown-menu{
  list-style: none;
  background-color: black;
  opacity: .8;
  border:2px solid white;
  text-align: center;
  padding:1em;
  position: absolute;
  height:auto:
  width:150px;
  font-family: 'Rock Salt';
  color:white;
  position: absolute;
  margin-left: 34.1em;
  margin-top: 4em;
  z-index: 1;

}

a:link{
  color:inherit;
}
a:visited{
  color:inherit;
}
a:hover{
  color:white;
}
a:active{
  color:black;
}
